USE [Demo2016]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 11/24/2023 10:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Client](
	[DCLink] [int] IDENTITY(1,1) NOT NULL,
	[Account] [varchar](20) NULL,
	[Name] [varchar](50) NULL,
	[Title] [varchar](5) NULL,
	[PriceHalf] [decimal](18, 2) NOT NULL CONSTRAINT [DF_Client_PriceHalf]  DEFAULT ((0)),
	[Init] [varchar](6) NULL,
	[Contact_Person] [varchar](30) NULL,
	[Physical1] [varchar](40) NULL,
	[Physical2] [varchar](40) NULL,
	[Physical3] [varchar](40) NULL,
	[Physical4] [varchar](40) NULL,
	[Physical5] [varchar](40) NULL,
	[PhysicalPC] [varchar](15) NULL,
	[Addressee] [varchar](30) NULL,
	[Post1] [varchar](40) NULL,
	[Post2] [varchar](40) NULL,
	[Post3] [varchar](40) NULL,
	[Post4] [varchar](40) NULL,
	[Post5] [varchar](40) NULL,
	[PostPC] [varchar](15) NULL,
	[Delivered_To] [varchar](30) NULL,
	[Telephone] [varchar](25) NULL,
	[Telephone2] [varchar](25) NULL,
	[Fax1] [varchar](25) NULL,
	[Fax2] [varchar](25) NULL,
	[AccountTerms] [int] NULL,
	[CT] [bit] NOT NULL CONSTRAINT [DF_CLIENTCT_6C390A4C]  DEFAULT ((0)),
	[Tax_Number] [varchar](15) NULL,
	[Registration] [varchar](20) NULL,
	[Credit_Limit] [float] NULL,
	[RepID] [int] NULL,
	[Interest_Rate] [float] NULL,
	[Discount] [float] NULL,
	[On_Hold] [bit] NOT NULL CONSTRAINT [DF_CLIENTOn_Hold_6D2D2E85]  DEFAULT ((0)),
	[BFOpenType] [int] NULL,
	[EMail] [varchar](60) NULL,
	[BankLink] [int] NULL,
	[BranchCode] [varchar](30) NULL,
	[BankAccNum] [varchar](30) NULL,
	[BankAccType] [varchar](30) NULL,
	[AutoDisc] [float] NULL,
	[DiscMtrxRow] [int] NULL,
	[MainAccLink] [int] NULL,
	[CashDebtor] [bit] NOT NULL CONSTRAINT [DF_CLIENTCashDebt_6E2152BE]  DEFAULT ((0)),
	[DCBalance] [float] NULL,
	[CheckTerms] [bit] NOT NULL CONSTRAINT [DF_CLIENTCheckTer_6F1576F7]  DEFAULT ((0)),
	[UseEmail] [bit] NOT NULL CONSTRAINT [DF_CLIENTUseEmail_70099B30]  DEFAULT ((0)),
	[iIncidentTypeID] [int] NULL,
	[iBusTypeID] [int] NULL,
	[iBusClassID] [int] NULL,
	[iCountryID] [int] NULL,
	[iAgentID] [int] NULL,
	[dTimeStamp] [datetime] NULL,
	[cAccDescription] [varchar](80) NULL,
	[cWebPage] [varchar](50) NULL,
	[iClassID] [int] NULL,
	[iAreasID] [int] NULL,
	[cBankRefNr] [varchar](30) NULL,
	[iCurrencyID] [int] NULL,
	[bStatPrint] [bit] NOT NULL CONSTRAINT [DF_Client_bStatPrint]  DEFAULT ((0)),
	[bStatEmail] [bit] NOT NULL CONSTRAINT [DF_Client_bStatEmail]  DEFAULT ((0)),
	[cStatEmailPass] [varchar](20) NULL,
	[bForCurAcc] [bit] NOT NULL CONSTRAINT [DF_Client_bForCurAcc]  DEFAULT ((0)),
	[fForeignBalance] [float] NULL,
	[bTaxPrompt] [bit] NOT NULL CONSTRAINT [DF_Client_bTaxPrompt]  DEFAULT ((1)),
	[iARPriceListNameID] [int] NULL,
	[iSettlementTermsID] [int] NOT NULL CONSTRAINT [DF_CLIENT_iSettlementTermsID]  DEFAULT ((0)),
	[bSourceDocPrint] [bit] NOT NULL CONSTRAINT [DF_CLIENT_bSourceDocPrint]  DEFAULT ((1)),
	[bSourceDocEmail] [bit] NOT NULL CONSTRAINT [DF_CLIENT_bSourceDocEmail]  DEFAULT ((0)),
	[iEUCountryID] [int] NOT NULL CONSTRAINT [DF_Client_iEUCountryID]  DEFAULT ((0)),
	[iDefTaxTypeID] [int] NOT NULL CONSTRAINT [DF_Client_iDefTaxTypeID]  DEFAULT ((0)),
	[bCODAccount] [bit] NOT NULL CONSTRAINT [DF_Client_bCODAccount]  DEFAULT ((0)),
	[udARDate] [datetime] NULL,
	[uiARDeliveryMethod] [int] NULL,
	[tOrderNotes] [text] NULL CONSTRAINT [DF_Client_tOrderNotes_1]  DEFAULT (''),
	[uiARCATID] [int] NULL,
	[FuelLevyPercen] [decimal](18, 2) NOT NULL CONSTRAINT [DF_Client_FuelLevyPercen]  DEFAULT ((0)),
	[FLID] [int] NOT NULL CONSTRAINT [DF_Client_FLID]  DEFAULT ((0)),
	[AccountStatusID] [int] NOT NULL CONSTRAINT [DF_Client_AccountStatusID]  DEFAULT ((1)),
	[IGUFabRate] [float] NOT NULL CONSTRAINT [DF_Client_IGUFabRate]  DEFAULT ((0)),
	[CreditPercentage] [float] NOT NULL CONSTRAINT [DF_Client_CreditPercentage]  DEFAULT ((0)),
	[TotalDebitBalance] [float] NOT NULL CONSTRAINT [DF_Client_TotalDebitBalance]  DEFAULT ((0)),
	[TotInvoiced] [float] NOT NULL CONSTRAINT [DF_Client_TotInvoiced]  DEFAULT ((0)),
	[TotPending] [float] NOT NULL CONSTRAINT [DF_Client_TotPending]  DEFAULT ((0)),
	[TotReceived] [float] NOT NULL CONSTRAINT [DF_Client_TotReceived]  DEFAULT ((0)),
	[IsGlobalAcc] [bit] NOT NULL CONSTRAINT [DF_Client_IsGlobalAcc]  DEFAULT ((0)),
	[IsProspect] [bit] NOT NULL CONSTRAINT [DF_Client_IsProspect]  DEFAULT ((0)),
	[CardIdentification] [varchar](50) NOT NULL CONSTRAINT [DF_Client_CardIdentification]  DEFAULT (''),
	[LegalName] [varchar](50) NULL,
	[TrustName] [varchar](50) NULL,
	[BusinessEstablished] [smalldatetime] NULL,
	[RegistrationNo] [varchar](20) NULL CONSTRAINT [DF_Client_CardIdentification1]  DEFAULT (''),
	[ACN] [varchar](20) NULL CONSTRAINT [DF_Client_RegistrationNo1_1]  DEFAULT (''),
	[Token] [varchar](30) NULL CONSTRAINT [DF_Client_RegistrationNo1]  DEFAULT (''),
	[EntityStructureID] [int] NOT NULL CONSTRAINT [DF_Client_FLID1]  DEFAULT ((0)),
	[InsuredID] [int] NOT NULL CONSTRAINT [DF_Client_EntityStructureID1]  DEFAULT ((0)),
	[CreditApplicationDate] [smalldatetime] NULL,
	[PPS_ExpiryDate] [smalldatetime] NULL,
	[PersonalGurantee] [varchar](200) NULL,
	[CC_NameOnCard] [varchar](20) NULL,
	[CC_CardNumber] [varchar](16) NULL,
	[CC_ExpiryDate] [smalldatetime] NULL,
	[BSB] [varchar](6) NULL,
	[AcountNumber] [varchar](20) NULL,
	[AcountName] [varchar](20) NULL,
	[CreditSearch] [smalldatetime] NULL,
	[GONI] [varchar](20) NULL,
	[bSendOrderConfirmations] [bit] NOT NULL CONSTRAINT [DF_Client_bSendOrderConfirmations]  DEFAULT ((0)),
	[EmailOrderConfirmationTo] [varchar](200) NOT NULL CONSTRAINT [DF_Client_EmailOrderConfirmationTo]  DEFAULT (''),
	[EmailTaxInvoicesTo] [varchar](200) NOT NULL CONSTRAINT [DF_Client_EmailOrderConfirmationTo1]  DEFAULT (''),
	[EmailStatementsTo] [varchar](200) NOT NULL CONSTRAINT [DF_Client_EmailOrderConfirmationTo2]  DEFAULT (''),
	[RebateID] [int] NOT NULL CONSTRAINT [DF_Client_RebateID]  DEFAULT ((1)),
	[XeroGUID] [varchar](50) NOT NULL CONSTRAINT [DF_Client_XeroGUID]  DEFAULT (''),
 CONSTRAINT [PK_CLIENT] PRIMARY KEY CLUSTERED 
(
	[DCLink] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Inv_save]    Script Date: 11/24/2023 10:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Inv_save](
	[Cus_name] [varchar](50) NULL,
	[Address_1] [varchar](50) NULL,
	[Address_2] [varchar](50) NULL,
	[Address_3] [varchar](50) NULL,
	[SubUrb] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[PO_code] [varchar](50) NULL,
	[Inv_no] [varchar](50) NULL,
	[Inv_date] [varchar](50) NULL,
	[Ref_no] [varchar](50) NULL,
	[Note] [varchar](50) NULL,
	[Item] [varchar](50) NULL,
	[Description] [varchar](50) NULL,
	[Item_note] [varchar](50) NULL,
	[Qty] [varchar](50) NULL,
	[Price] [varchar](50) NULL,
	[Excel_amnt] [varchar](50) NULL,
	[Tax_amount] [varchar](50) NULL,
	[Incl_amount] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StkItem]    Script Date: 11/24/2023 10:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StkItem](
	[StockLink] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](255) NULL,
	[Description_1] [varchar](255) NULL,
	[Description_2] [varchar](255) NULL,
	[Description_3] [varchar](255) NULL,
	[ItemGroup] [varchar](20) NULL,
	[Pack] [varchar](5) NULL,
	[TTI] [varchar](4) NULL,
	[TTC] [varchar](4) NULL,
	[TTG] [varchar](4) NULL,
	[TTR] [varchar](4) NULL,
	[Bar_Code] [varchar](255) NULL,
	[Re_Ord_Lvl] [float] NULL,
	[Re_Ord_Qty] [float] NULL,
	[Min_Lvl] [float] NULL,
	[Max_Lvl] [float] NULL,
	[AveUCst] [float] NULL,
	[LatUCst] [float] NULL,
	[LowUCst] [float] NULL,
	[HigUCst] [float] NULL,
	[StdUCst] [float] NULL,
	[Qty_On_Hand] [float] NULL,
	[LGrvCount] [float] NULL,
	[ServiceItem] [bit] NOT NULL CONSTRAINT [DF_STKITEMService_290D0E62]  DEFAULT ((0)),
	[ItemActive] [bit] NOT NULL CONSTRAINT [DF_STKITEMItemAct_2A01329B]  DEFAULT ((1)),
	[ReservedQty] [float] NULL,
	[QtyOnPO] [float] NULL,
	[QtyOnSO] [float] NULL,
	[WhseItem] [bit] NOT NULL CONSTRAINT [DF_STKITEMWhseIte_2AF556D4]  DEFAULT ((0)),
	[SerialItem] [bit] NOT NULL CONSTRAINT [DF_STKITEMSerialI_2BE97B0D]  DEFAULT ((0)),
	[DuplicateSN] [bit] NOT NULL CONSTRAINT [DF_STKITEMDuplica_2CDD9F46]  DEFAULT ((0)),
	[StrictSN] [bit] NOT NULL CONSTRAINT [DF_STKITEMStrictS_2DD1C37F]  DEFAULT ((0)),
	[BomCode] [varchar](1) NULL,
	[SMtrxCol] [int] NULL,
	[PMtrxCol] [int] NULL,
	[JobQty] [float] NULL,
	[cModel] [varchar](50) NULL,
	[cRevision] [varchar](50) NULL,
	[cComponent] [varchar](50) NULL,
	[dDateReleased] [smalldatetime] NULL,
	[iBinLocationID] [int] NULL,
	[dStkitemTimeStamp] [datetime] NULL,
	[iInvSegValue1ID] [int] NULL,
	[iInvSegValue2ID] [int] NULL,
	[iInvSegValue3ID] [int] NULL,
	[iInvSegValue4ID] [int] NULL,
	[iInvSegValue5ID] [int] NULL,
	[iInvSegValue6ID] [int] NULL,
	[iInvSegValue7ID] [int] NULL,
	[cExtDescription] [varchar](255) NULL,
	[cSimpleCode] [varchar](20) NULL,
	[bCommissionItem] [bit] NOT NULL CONSTRAINT [DF_StkItem_bCommissionItem]  DEFAULT ((1)),
	[MFPQty] [float] NULL,
	[bLotItem] [bit] NOT NULL CONSTRAINT [DF_StkItem_bLotItem]  DEFAULT ((0)),
	[iLotStatus] [int] NULL,
	[bLotMustExpire] [bit] NOT NULL CONSTRAINT [DF_StkItem_bLotMustExpire]  DEFAULT ((1)),
	[iItemCostingMethod] [int] NOT NULL CONSTRAINT [DF_StkItem_iItemCostingMethod]  DEFAULT ((0)),
	[fItemLastGRVCost] [float] NOT NULL CONSTRAINT [DF_StkItem_fItemLastGRVCost]  DEFAULT ((0)),
	[iEUCommodityID] [int] NOT NULL CONSTRAINT [DF_StkItem_iEUCommodityID]  DEFAULT ((0)),
	[iEUSupplementaryUnitID] [int] NOT NULL CONSTRAINT [DF_StkItem_iEUSupplementaryUnitID]  DEFAULT ((0)),
	[fNetMass] [float] NOT NULL CONSTRAINT [DF_StkItem_fNetMass]  DEFAULT ((0)),
	[iUOMStockingUnitID] [int] NULL,
	[iUOMDefPurchaseUnitID] [int] NULL,
	[iUOMDefSellUnitID] [int] NULL,
	[uiIISRVPRICEID] [int] NULL,
	[ubIIEDGEALLOWANCE] [bit] NULL,
	[ufIIThickness] [float] NULL,
	[ubIITemplate] [bit] NULL,
	[uiIITemplPriceID] [int] NULL,
	[ubIIGLASSSERVICE] [bit] NULL,
	[uiIIItemType] [int] NULL,
	[ufIIMINCHRG] [float] NULL,
	[ufIIWEIGHT] [float] NULL,
	[uiIIPRICETYPEID] [int] NULL,
	[ubIIPrintLabels] [bit] NULL,
	[DefaultGlassService] [bit] NOT NULL CONSTRAINT [DF_StkItem_DefaultGlassService]  DEFAULT ((0)),
	[IsLaminateItem] [bit] NOT NULL CONSTRAINT [DF_StkItem_IsLaminateItem_1]  DEFAULT ((0)),
	[ufIIQtyInVolume] [float] NULL,
	[uiIIMainItemLink] [int] NULL,
	[ubIIAllowNegative] [bit] NULL,
	[uiIISupplier] [int] NULL,
	[uiIIWidth] [int] NULL,
	[uiIIHeight] [int] NULL,
	[ufIILotQty] [float] NULL,
	[ufIIGrvQty] [float] NULL,
	[ufIISOQtyVolume] [float] NULL,
	[uiIIWarehouse] [float] NULL,
	[ShowPODes] [bit] NOT NULL CONSTRAINT [DF_StkItem_ShowPODes]  DEFAULT ((0)),
	[IsNonStockItem] [bit] NOT NULL CONSTRAINT [DF_StkItem_IsNonStockItem]  DEFAULT ((0)),
	[IsExternalItem] [bit] NOT NULL CONSTRAINT [DF_StkItem_IsExternalItem]  DEFAULT ((0)),
	[POMinimumArea] [float] NOT NULL CONSTRAINT [DF_StkItem_POMinimumArea]  DEFAULT ((0)),
	[AccountNumber] [varchar](50) NOT NULL CONSTRAINT [DF_StkItem_AccountNumber]  DEFAULT (''),
	[CostCentre] [int] NOT NULL CONSTRAINT [DF_StkItem_CostCentre]  DEFAULT ((0)),
	[AddDetails] [varchar](255) NULL,
	[SalesAccount] [varchar](50) NULL,
	[PurchaseAccount] [varchar](50) NULL,
	[Length] [float] NULL,
	[BulkQty] [float] NULL,
	[BulkRate] [float] NULL,
	[PriceListItem] [bit] NOT NULL CONSTRAINT [DF_StkItem_PriceListItem]  DEFAULT ((1)),
	[CalcPriceAsPercentage] [bit] NOT NULL CONSTRAINT [DF_StkItem_PriceListItem1]  DEFAULT ((0)),
	[CalcPricePercentage] [float] NOT NULL CONSTRAINT [DF_StkItem_CalcPricePercentage]  DEFAULT ((0)),
	[BOMItem] [bit] NOT NULL CONSTRAINT [DF_StkItem_BOMItem]  DEFAULT ((0)),
	[ufIIMINSQM] [float] NULL,
 CONSTRAINT [PK_STKITEM] PRIMARY KEY CLUSTERED 
(
	[StockLink] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
